{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<a href="{{ path('app_logout') }}">Logout</a>
<script>
    const eventSource = new EventSource("{{ mercure('https://example.com/books/1')|escape('js') }}");
    eventSource.onmessage = event => {
        console.log(JSON.parse(event.data));
    }
</script>
{% endblock %}
